<div class="fixed">
 <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><%= link_to 'Home', root_path %></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="breadcrumbs">
     <%= link_to 'New Post', new_article_path %>
     <%= link_to 'Edit Post', edit_article_path %>
     <%= link_to 'List All Posts', articles_path %>
    </ul>
  </section>
 </nav>
</div>

<div class="row post">
    <div class="post-desc">
      <h3 class="post-title"><%= @article.title %></h3>
      <p class="post-body"><%= @article.text %></p>
    </div>
</div>

</br>
</br>
<div class="row" >
  <div>
     <h4>
     <a id="button" href="#">Comments</a>
     </h4>
  </div>
  <div id="comments" class="comments" >
    <div class="comment-desc">
      <% if @article.comments.length > 0 then -%>
        <%=    render @article.comments -%>
        <%  else %>
         <p>No comments.  Please help to give yours.</p> 
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <h3>Add a Comment:</h3>
  <%= render 'comments/form' %>
</div>
 
<script>
   $(function() {
     $( "#button" ).click(function() {
        $( "#comments" ).toggle();
     });
   });
</script>   
